body.noscroll {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  flex: 1 1 auto;
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: local("Roboto"), url(assets/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Roboto"), url(assets/fonts/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: local("Roboto"), url(assets/fonts/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: local("Roboto"), url(assets/fonts/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}

.Toastify__toast-icon {
  display: none !important;
}
